/*all display button */
.btnLink {
  display: block;
  width: 100%;
  padding: 12px 24px ;
  margin: 20px 0;
  background: linear-gradient(90deg, #a1c0e6, #77a6f1, #6b92e7);
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: bold;
  border-radius: 12px;
  text-decoration: none;
  transition: filter 0.3s ease;
}

.btnLink:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

/*buy button */
.btnLink1 {
  display: block;
  width: 33%;
  padding:6px 0;
  margin: 20px auto;  
  background: linear-gradient(90deg, #a1c0e6, #77a6f1, #6b92e7);
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 12px;
  text-decoration: none;
  transition: filter 0.3s ease;
}

.btnLink1:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.cardContainer {
  display: flex;
  justify-content: flex-start;
  margin: 40px 0;
}


.card {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 24px auto;
  border-radius: 16px;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(76, 164, 223, 0.15);
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.title {
  padding: 16px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* Technical Support and Exchange module*/

.fullRow {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  margin: 0 auto;
  max-width: 100vw;
}

.cardBlock {
  flex: 1 1 25%;
  max-width: 25%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

.cardInner {
  height: 180px;
  background: linear-gradient(90deg, #a1c0e6, #77a6f1, #6b92e7);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f5f8;
  font-weight: 600;
  font-size: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, background 0.3s ease;
  text-decoration: none;
}

.cardInner:hover {
  background-color: #87bee7;
  transform: translateY(-4px);
}

/* Responsive: Stacking on a small screen */
@media screen and (max-width: 768px) {
  .cardBlock {
    flex: 1 1 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .cardBlock {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

/* Tabs size */
.customTabs {
  font-size: 30px; 
  font-weight: bold;
}

/* img size */
.markdown img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.center-img {
  width: 50%;
  height: auto; 
  display: block;
  margin: 0 auto;
}

/* Tabs size */
.customTabs1 {
  font-size: 25px; 
  font-weight: bold;
}

