.image_wrap {
    position: relative;
    width: 100%;
    height: 200px;
}

.image_box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.skeleton_box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
}

.skeleton {
   height: 200px !important;
}


